[class^='tk-icon-']:before,
[class*=' tk-icon-']:before {
  font-family: 'tk-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tk-icon-dp-all-payment:before {
  content: '\e001';
}
.tk-icon-dp-calendar-display:before {
  content: '\e002';
}
.tk-icon-dp-credit-card:before {
  content: '\e003';
}
.tk-icon-dp-deposit:before {
  content: '\e004';
}
.tk-icon-dp-download-tour:before {
  content: '\e005';
}
.tk-icon-dp-eat:before {
  content: '\e006';
}
.tk-icon-dp-hold-mobile:before {
  content: '\e007';
}
.tk-icon-dp-phone-contact:before {
  content: '\e008';
}
.tk-icon-dp-ready:before {
  content: '\e009';
}
.tk-icon-dp-shopping-display:before {
  content: '\e00a';
}
.tk-icon-dp-travel:before {
  content: '\e00b';
}
.tk-icon-dp-update:before {
  content: '\e00c';
}
.tk-icon-st-add:before {
  content: '\e000';
}
.tk-icon-st-adventure:before {
  content: '\e00d';
}
.tk-icon-st-amusement-park:before {
  content: '\e00e';
}
.tk-icon-st-arrow-down:before {
  content: '\e00f';
}
.tk-icon-st-arrow-left:before {
  content: '\e010';
}
.tk-icon-st-arrow-right:before {
  content: '\e011';
}
.tk-icon-st-arrow-up:before {
  content: '\e012';
}
.tk-icon-st-back:before {
  content: '\e013';
}
.tk-icon-st-back-circle:before {
  content: '\e014';
}
.tk-icon-st-bag:before {
  content: '\e015';
}
.tk-icon-st-baht:before {
  content: '\e016';
}
.tk-icon-st-booking-ok:before {
  content: '\e017';
}
.tk-icon-st-burger-menu:before {
  content: '\e018';
}
.tk-icon-st-bus:before {
  content: '\e019';
}
.tk-icon-st-calendar:before {
  content: '\e01a';
}
.tk-icon-st-camera:before {
  content: '\e01b';
}
.tk-icon-st-castle:before {
  content: '\e01c';
}
.tk-icon-st-change-password:before {
  content: '\e01d';
}
.tk-icon-st-clear:before {
  content: '\e01e';
}
.tk-icon-st-clock:before {
  content: '\e01f';
}
.tk-icon-st-close:before {
  content: '\e020';
}
.tk-icon-st-company:before {
  content: '\e021';
}
.tk-icon-st-copy:before {
  content: '\e022';
}
.tk-icon-st-correct:before {
  content: '\e023';
}
.tk-icon-st-culture:before {
  content: '\e024';
}
.tk-icon-st-day-night:before {
  content: '\e025';
}
.tk-icon-st-detail:before {
  content: '\e026';
}
.tk-icon-st-down:before {
  content: '\e027';
}
.tk-icon-st-down-circle:before {
  content: '\e028';
}
.tk-icon-st-edit:before {
  content: '\e029';
}
.tk-icon-st-email:before {
  content: '\e02a';
}
.tk-icon-st-error:before {
  content: '\e02b';
}
.tk-icon-st-expand:before {
  content: '\e02c';
}
.tk-icon-st-facebook:before {
  content: '\e02d';
}
.tk-icon-st-fastival:before {
  content: '\e02e';
}
.tk-icon-st-favorite-fill:before {
  content: '\e02f';
}
.tk-icon-st-favorite-stoke:before {
  content: '\e030';
}
.tk-icon-st-fier:before {
  content: '\e031';
}
.tk-icon-st-filter:before {
  content: '\e032';
}
.tk-icon-st-food:before {
  content: '\e033';
}
.tk-icon-st-free-day:before {
  content: '\e034';
}
.tk-icon-st-hide:before {
  content: '\e035';
}
.tk-icon-st-highlight:before {
  content: '\e036';
}
.tk-icon-st-home:before {
  content: '\e037';
}
.tk-icon-st-hotel:before {
  content: '\e038';
}
.tk-icon-st-info:before {
  content: '\e039';
}
.tk-icon-st-instagram:before {
  content: '\e03a';
}
.tk-icon-st-instant-booking:before {
  content: '\e03b';
}
.tk-icon-st-label-map:before {
  content: '\e03c';
}
.tk-icon-st-layout-column:before {
  content: '\e03d';
}
.tk-icon-st-layout-low:before {
  content: '\e03e';
}
.tk-icon-st-line:before {
  content: '\e03f';
}
.tk-icon-st-login:before {
  content: '\e040';
}
.tk-icon-st-logout:before {
  content: '\e041';
}
.tk-icon-st-mark-map:before {
  content: '\e042';
}
.tk-icon-st-member:before {
  content: '\e043';
}
.tk-icon-st-messenger:before {
  content: '\e044';
}
.tk-icon-st-money:before {
  content: '\e045';
}
.tk-icon-st-more-horizontal:before {
  content: '\e046';
}
.tk-icon-st-move:before {
  content: '\e047';
}
.tk-icon-st-mybooking:before {
  content: '\e048';
}
.tk-icon-st-next:before {
  content: '\e049';
}
.tk-icon-st-next-circle:before {
  content: '\e04a';
}
.tk-icon-st-notification:before {
  content: '\e04b';
}
.tk-icon-st-object:before {
  content: '\e04c';
}
.tk-icon-st-passport:before {
  content: '\e04d';
}
.tk-icon-st-password:before {
  content: '\e04e';
}
.tk-icon-st-pdf:before {
  content: '\e04f';
}
.tk-icon-st-people:before {
  content: '\e050';
}
.tk-icon-st-phone:before {
  content: '\e051';
}
.tk-icon-st-pin-map:before {
  content: '\e052';
}
.tk-icon-st-plane:before {
  content: '\e053';
}
.tk-icon-st-plane-fly:before {
  content: '\e054';
}
.tk-icon-st-plane-take-off:before {
  content: '\e055';
}
.tk-icon-st-plane-tax:before {
  content: '\e056';
}
.tk-icon-st-plus:before {
  content: '\e057';
}
.tk-icon-st-premium:before {
  content: '\e058';
}
.tk-icon-st-process:before {
  content: '\e059';
}
.tk-icon-st-process-white:before {
  content: '\e05a';
}
.tk-icon-st-question:before {
  content: '\e05b';
}
.tk-icon-st-recommend:before {
  content: '\e05c';
}
.tk-icon-st-remove:before {
  content: '\e05d';
}
.tk-icon-st-reward:before {
  content: '\e05e';
}
.tk-icon-st-safety:before {
  content: '\e05f';
}
.tk-icon-st-save:before {
  content: '\e060';
}
.tk-icon-st-search:before {
  content: '\e061';
}
.tk-icon-st-season:before {
  content: '\e062';
}
.tk-icon-st-seat:before {
  content: '\e063';
}
.tk-icon-st-share:before {
  content: '\e064';
}
.tk-icon-st-shopping:before {
  content: '\e065';
}
.tk-icon-st-signin:before {
  content: '\e066';
}
.tk-icon-st-signout:before {
  content: '\e067';
}
.tk-icon-st-sort:before {
  content: '\e068';
}
.tk-icon-st-star-fill:before {
  content: '\e069';
}
.tk-icon-st-success:before {
  content: '\e06a';
}
.tk-icon-st-tag:before {
  content: '\e06b';
}
.tk-icon-st-tax:before {
  content: '\e06c';
}
.tk-icon-st-temple:before {
  content: '\e06d';
}
.tk-icon-st-ticket-event:before {
  content: '\e06e';
}
.tk-icon-st-ticket-flight:before {
  content: '\e06f';
}
.tk-icon-st-trash:before {
  content: '\e070';
}
.tk-icon-st-tree:before {
  content: '\e071';
}
.tk-icon-st-unseen:before {
  content: '\e072';
}
.tk-icon-st-up:before {
  content: '\e073';
}
.tk-icon-st-up-circle:before {
  content: '\e074';
}
.tk-icon-st-vertical:before {
  content: '\e075';
}
.tk-icon-st-view-close:before {
  content: '\e076';
}
.tk-icon-st-view-open:before {
  content: '\e077';
}
.tk-icon-st-visa:before {
  content: '\e078';
}
.tk-icon-st-waiting:before {
  content: '\e079';
}
.tk-icon-st-website:before {
  content: '\e07a';
}
.tk-icon-st-yacht:before {
  content: '\e07b';
}
