%icon-dp-all-payment {
  content: '\e001';
}
%icon-dp-calendar-display {
  content: '\e002';
}
%icon-dp-credit-card {
  content: '\e003';
}
%icon-dp-deposit {
  content: '\e004';
}
%icon-dp-download-tour {
  content: '\e005';
}
%icon-dp-eat {
  content: '\e006';
}
%icon-dp-hold-mobile {
  content: '\e007';
}
%icon-dp-phone-contact {
  content: '\e008';
}
%icon-dp-ready {
  content: '\e009';
}
%icon-dp-shopping-display {
  content: '\e00a';
}
%icon-dp-travel {
  content: '\e00b';
}
%icon-dp-update {
  content: '\e00c';
}
%icon-st-add {
  content: '\e000';
}
%icon-st-adventure {
  content: '\e00d';
}
%icon-st-amusement-park {
  content: '\e00e';
}
%icon-st-arrow-down {
  content: '\e00f';
}
%icon-st-arrow-left {
  content: '\e010';
}
%icon-st-arrow-right {
  content: '\e011';
}
%icon-st-arrow-up {
  content: '\e012';
}
%icon-st-back {
  content: '\e013';
}
%icon-st-back-circle {
  content: '\e014';
}
%icon-st-bag {
  content: '\e015';
}
%icon-st-baht {
  content: '\e016';
}
%icon-st-booking-ok {
  content: '\e017';
}
%icon-st-burger-menu {
  content: '\e018';
}
%icon-st-bus {
  content: '\e019';
}
%icon-st-calendar {
  content: '\e01a';
}
%icon-st-camera {
  content: '\e01b';
}
%icon-st-castle {
  content: '\e01c';
}
%icon-st-change-password {
  content: '\e01d';
}
%icon-st-clear {
  content: '\e01e';
}
%icon-st-clock {
  content: '\e01f';
}
%icon-st-close {
  content: '\e020';
}
%icon-st-company {
  content: '\e021';
}
%icon-st-copy {
  content: '\e022';
}
%icon-st-correct {
  content: '\e023';
}
%icon-st-culture {
  content: '\e024';
}
%icon-st-day-night {
  content: '\e025';
}
%icon-st-detail {
  content: '\e026';
}
%icon-st-down {
  content: '\e027';
}
%icon-st-down-circle {
  content: '\e028';
}
%icon-st-edit {
  content: '\e029';
}
%icon-st-email {
  content: '\e02a';
}
%icon-st-error {
  content: '\e02b';
}
%icon-st-expand {
  content: '\e02c';
}
%icon-st-facebook {
  content: '\e02d';
}
%icon-st-fastival {
  content: '\e02e';
}
%icon-st-favorite-fill {
  content: '\e02f';
}
%icon-st-favorite-stoke {
  content: '\e030';
}
%icon-st-fier {
  content: '\e031';
}
%icon-st-filter {
  content: '\e032';
}
%icon-st-food {
  content: '\e033';
}
%icon-st-free-day {
  content: '\e034';
}
%icon-st-hide {
  content: '\e035';
}
%icon-st-highlight {
  content: '\e036';
}
%icon-st-home {
  content: '\e037';
}
%icon-st-hotel {
  content: '\e038';
}
%icon-st-info {
  content: '\e039';
}
%icon-st-instagram {
  content: '\e03a';
}
%icon-st-instant-booking {
  content: '\e03b';
}
%icon-st-label-map {
  content: '\e03c';
}
%icon-st-layout-column {
  content: '\e03d';
}
%icon-st-layout-low {
  content: '\e03e';
}
%icon-st-line {
  content: '\e03f';
}
%icon-st-login {
  content: '\e040';
}
%icon-st-logout {
  content: '\e041';
}
%icon-st-mark-map {
  content: '\e042';
}
%icon-st-member {
  content: '\e043';
}
%icon-st-messenger {
  content: '\e044';
}
%icon-st-money {
  content: '\e045';
}
%icon-st-more-horizontal {
  content: '\e046';
}
%icon-st-move {
  content: '\e047';
}
%icon-st-mybooking {
  content: '\e048';
}
%icon-st-next {
  content: '\e049';
}
%icon-st-next-circle {
  content: '\e04a';
}
%icon-st-notification {
  content: '\e04b';
}
%icon-st-object {
  content: '\e04c';
}
%icon-st-passport {
  content: '\e04d';
}
%icon-st-password {
  content: '\e04e';
}
%icon-st-pdf {
  content: '\e04f';
}
%icon-st-people {
  content: '\e050';
}
%icon-st-phone {
  content: '\e051';
}
%icon-st-pin-map {
  content: '\e052';
}
%icon-st-plane {
  content: '\e053';
}
%icon-st-plane-fly {
  content: '\e054';
}
%icon-st-plane-take-off {
  content: '\e055';
}
%icon-st-plane-tax {
  content: '\e056';
}
%icon-st-plus {
  content: '\e057';
}
%icon-st-premium {
  content: '\e058';
}
%icon-st-process {
  content: '\e059';
}
%icon-st-process-white {
  content: '\e05a';
}
%icon-st-question {
  content: '\e05b';
}
%icon-st-recommend {
  content: '\e05c';
}
%icon-st-remove {
  content: '\e05d';
}
%icon-st-reward {
  content: '\e05e';
}
%icon-st-safety {
  content: '\e05f';
}
%icon-st-save {
  content: '\e060';
}
%icon-st-search {
  content: '\e061';
}
%icon-st-season {
  content: '\e062';
}
%icon-st-seat {
  content: '\e063';
}
%icon-st-share {
  content: '\e064';
}
%icon-st-shopping {
  content: '\e065';
}
%icon-st-signin {
  content: '\e066';
}
%icon-st-signout {
  content: '\e067';
}
%icon-st-sort {
  content: '\e068';
}
%icon-st-star-fill {
  content: '\e069';
}
%icon-st-success {
  content: '\e06a';
}
%icon-st-tag {
  content: '\e06b';
}
%icon-st-tax {
  content: '\e06c';
}
%icon-st-temple {
  content: '\e06d';
}
%icon-st-ticket-event {
  content: '\e06e';
}
%icon-st-ticket-flight {
  content: '\e06f';
}
%icon-st-trash {
  content: '\e070';
}
%icon-st-tree {
  content: '\e071';
}
%icon-st-unseen {
  content: '\e072';
}
%icon-st-up {
  content: '\e073';
}
%icon-st-up-circle {
  content: '\e074';
}
%icon-st-vertical {
  content: '\e075';
}
%icon-st-view-close {
  content: '\e076';
}
%icon-st-view-open {
  content: '\e077';
}
%icon-st-visa {
  content: '\e078';
}
%icon-st-waiting {
  content: '\e079';
}
%icon-st-website {
  content: '\e07a';
}
%icon-st-yacht {
  content: '\e07b';
}
